@tailwind base;
@tailwind components;
@tailwind utilities;
@import './syntax-highlighting.css';

html {
  min-width: 360px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

:root {
  --navbar-height: 3.75rem;
}

.sticky-top-sidebar {
  position: sticky;
  top: calc(var(--navbar-height) + 2rem);
  max-height: calc(100vh - var(--navbar-height) - 2rem);
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  background: rgba(115, 125, 140, 0.15);
  border-radius: 3px;
  padding: 4.5px 4.5px;
  margin: 1px 1.5px;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(a):not(:where([class~='not-prose'] *)):hover {
  text-decoration: none;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before,
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}
