@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
} */

body {
  background-color: #000;
}

html {
  min-width: 360px;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

code.language-unknown::before,
code.language-unknown::after {
  content: '';
}
